* {
  box-sizing: border-box;
}
.wrapper-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}
body {
}

xbutton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}

.ognjen-foto {
  height: 300px;
  border-radius: 30%;
  margin-top: 30px;
}
.button-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
}

.end-button {
  display: block;
  xwidth: 200px;
  xheight: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.end-button-span {
  position: relative;
  z-index: 2;
}

.end-button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all 0.35s;
}

.end-button:hover {
  color: #fff;
}

.end-button:hover:after {
  width: 100%;
}
h1 {
  color: #999fa5;
  font-family: "papyrus", Arial, sans-serif;
  font-weight: bold;
  font-size: 300%;
}
.hr-h1 {
  color: #999fa5;
  width: 80%;
  border-width: 1.5px;
}
.nav {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  xmin-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #999fa5;
  font-size: 0.99em;
}
a {
  text-decoration: none;
}
.main-nav a:hover {
  color: #a1507f;
}

.header {
  display: flex;
  xflex-direction: row;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  xmax-width: 1150px;
  background-color: rgb(54, 48, 48);
  padding-bottom: 90px;
}

.bio-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.h2-bio {
  display: block;
  xwidth: 200px;
  xheight: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.h2-bio-span {
  position: relative;
  z-index: 2;
}

.h2-bio:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #a1507f;
  transition: all 0.35s;
}

.h2-bio:hover {
  color: #fff;
}

.h2-bio:hover:after {
  width: 100%;
}
.h2-blumen {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 101px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.blumen-container-haupt-text {
  display: flex;
  justify-content: center;
}
.h2-blumen {
  color: green;
}

.h2-blumen-vertical {
  text-align: left;
}
.blumen-container-haupt {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.blume1-container {
  margin: 10px 0 0 0;
  display: flex;
  border: solid pink;
  align-items: center;
}

.blume1-container:hover {
  color: green;
  background: pink;
  transition: all 1.1s;
}

.bild-blume1 {
  margin-bottom: 0;
  padding-bottom: 0%;
}
.text-blume1 {
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}
.blume2-container {
  margin: 10px 0 0 0;
  display: flex;
  border: solid yellow;
  align-items: center;
}
.blume2-container:hover {
  color: green;
  background: yellow;
  transition: all 1.1s;
}
.bild-blume2 {
  margin-bottom: 0;
  padding-bottom: 0%;
}
.text-blume2 {
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}
.blume3-container {
  margin: 10px 0 0 0;
  display: flex;
  border: solid orange;
  align-items: center;
}
.blume3-container:hover {
  color: green;
  background: orange;
  transition: all 1.1s;
}
.bild-blume3 {
  margin-bottom: 0;
  padding-bottom: 0%;
}
.text-blume3 {
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}
